.competencies-section {
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.competencies-title {
  font-family: poppins sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
}

.competencies-intro {
  max-width: 800px;
  font-family: roboto, sans-serif;
  margin-bottom: 50px;
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.competencies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.competency-item {
  background-color: rgba(0, 0, 0, 00.3s);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competency-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.competency-icon {
  width: 90px;
  margin-bottom: 20px;
}

.competency-description {
  font-size: 1.1rem;
  font-family: roboto, sans-serif;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .competencies-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .comptencies-title {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .competencies-grid {
    grid-template-columns: 1fr;
  }
}
