.contact-section {
  text-align: center;
  background-color: #fff;
  padding: 80px 20px;
  border-radius: 15px;
}

.contact-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form,
.contact-social {
  max-width: 400px;
  width: 100%;
  margin: 0 20px;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 29px;
}

.contact-form h3 {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  background-color: #00c6ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #005f7f;
}

.contact-social h3 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

.contact-social p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
}
