.navbar {
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar-list {
  list-style: none !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar-item a:hover {
  background-color: #555;
  border-radius: 5px;
}
